<rd-header>
  <rd-header-title title-text="{{ 'Create_stack' | translate }}"></rd-header-title>
  <rd-header-content>
    <a ui-sref="portainer.stacks">{{ 'Stacks' | translate }}</a> &gt; {{ 'Add_stack' | translate }}
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-input -->
          <div class="form-group">
            <label for="stack_name" class="col-sm-1 control-label text-left">{{ 'Name' | translate }}</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="formValues.Name" id="stack_name" placeholder="e.g. myStack" auto-focus>
            </div>
          </div>
          <!-- !name-input -->
          <div class="form-group">
            <span class="col-sm-12 text-muted small" ng-if="state.StackType === 1">
              <!-- This stack will be deployed using the equivalent of the -->
              {{ 'This_stack_will_be_deployed_using_the_equivalent' | translate }}
               <code>{{ 'docker_stack_deploy' | translate }}</code> {{ 'command' | translate }}
            </span>
            <span class="col-sm-12 text-muted small" ng-if="state.StackType === 2">
                {{ 'This_stack_will_be_deployed_using_the_equivalent' | translate }}
                 <code>docker-compose</code>. {{ 'Only_Compose_file_format_version' | translate }} <b>2</b> {{ 'is_supported_at_the_moment' | translate }}
            </span>
          </div>
          <!-- build-method -->
          <div class="col-sm-12 form-section-title">
              {{ 'Build_method' | translate }}
          </div>
          <div class="form-group"></div>
          <div class="form-group" style="margin-bottom: 0">
            <div class="boxselector_wrapper">
              <div>
                <input type="radio" id="method_editor" ng-model="state.Method" value="editor">
                <label for="method_editor">
                  <div class="boxselector_header">
                    <i class="fa fa-edit" aria-hidden="true" style="margin-right: 2px;"></i>
                    {{ 'Web_editor' | translate }}
                  </div>
                  <p>{{ 'Use_our_Web_editor' | translate }}</p>
                </label>
              </div>
              <div>
                <input type="radio" id="method_upload" ng-model="state.Method" value="upload">
                <label for="method_upload">
                  <div class="boxselector_header">
                    <i class="fa fa-upload" aria-hidden="true" style="margin-right: 2px;"></i>
                    {{ 'Upload' | translate }}
                  </div>
                  <p>{{ 'Upload_from_your_computer' | translate }}</p>
                </label>
              </div>
              <div>
                <input type="radio" id="method_repository" ng-model="state.Method" value="repository">
                <label for="method_repository">
                  <div class="boxselector_header">
                    <i class="fab fa-git" aria-hidden="true" style="margin-right: 2px;"></i>
                    {{ 'Repository' | translate }}
                  </div>
                  <p>{{ 'Use_a_git_repository' | translate }}</p>
                </label>
              </div>
            </div>
          </div>
          <!-- !build-method -->
          <!-- web-editor -->
          <div ng-show="state.Method === 'editor'">
            <div class="col-sm-12 form-section-title">
                {{ 'Web_editor' | translate }}
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                  {{ 'You_can_get_more_information_about_Compose_file' | translate }} <a href="https://docs.docker.com/compose/compose-file/" target="_blank">{{ 'official_documentation' | translate }}</a>.
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <code-editor
                  identifier="stack-creation-editor"
                  placeholder="{{ 'Define_or_paste_the_content_dockercompose' | translate }}"
                  yml="true"
                  on-change="editorUpdate"
                ></code-editor>
              </div>
            </div>
          </div>
          <!-- !web-editor -->
          <!-- upload -->
          <div ng-show="state.Method === 'upload'">
            <div class="col-sm-12 form-section-title">
                {{ 'Upload' | translate }}
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                  {{ 'You_can_upload_Compose_file' | translate }}
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.StackFile">{{ 'Select_file' | translate }}</button>
                <span style="margin-left: 5px;">
                  {{ formValues.StackFile.name }}
                  <i class="fa fa-times red-icon" ng-if="!formValues.StackFile" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <!-- !upload -->
          <!-- repository -->
          <div ng-show="state.Method === 'repository'">
            <div class="col-sm-12 form-section-title">
                {{ 'Git_repository' | translate }}
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                  {{ 'use_URL_git_repository' | translate }}
              </span>
            </div>
            <div class="form-group">
              <label for="stack_repository_url" class="col-sm-2 control-label text-left">{{ 'Repository_URL' | translate }}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formValues.RepositoryURL" id="stack_repository_url" placeholder="https://github.com/portainer/portainer-compose">
              </div>
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                <!-- Specify a reference of the repository using the following syntax: branches with -->
                {{ 'Specify_reference_repository_using_following_syntax' | translate }}
                 <code>refs/heads/branch_name</code>
                  or tags with 
                  <code>refs/tags/tag_name</code>. 
                  <!-- If not specified, will use the default  -->
                  {{ 'not_specified_will_use_default' | translate }}
                  <code>HEAD</code> 
                  <!-- reference normally the  -->
                  {{ 'reference_normally' | translate }}
                  <code>master</code> 
                  branch.
              </span>
            </div>
            <div class="form-group">
              <label for="stack_repository_url" class="col-sm-2 control-label text-left">
                  {{ 'Repository_reference' | translate }}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formValues.RepositoryReferenceName" id="stack_repository_reference_name" placeholder="refs/heads/master">
              </div>
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                <!-- Indicate the path to the Compose file from the root of your repository. -->
                {{ 'Indicate_path_Compose_file_from_repository' | translate }}
              </span>
            </div>
            <div class="form-group">
              <label for="stack_repository_path" class="col-sm-2 control-label text-left">Compose path</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formValues.ComposeFilePathInRepository" id="stack_repository_path" placeholder="docker-compose.yml">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label text-left">
                    {{ 'Authentication' | translate }}
                </label>
                <label class="switch" style="margin-left: 20px;">
                  <input type="checkbox" ng-model="formValues.RepositoryAuthentication"><i></i>
                </label>
              </div>
            </div>
            <div class="form-group" ng-if="formValues.RepositoryAuthentication">
              <label for="repository_username" class="col-sm-1 control-label text-left">{{ 'Username' | translate }}</label>
              <div class="col-sm-11 col-md-5">
                <input type="text" class="form-control" ng-model="formValues.RepositoryUsername" name="repository_username" placeholder="myGitUser">
              </div>
              <label for="repository_password" class="col-sm-1 margin-sm-top control-label text-left">
                  {{ 'Password' | translate }}
              </label>
              <div class="col-sm-11 col-md-5 margin-sm-top">
                <input type="password" class="form-control" ng-model="formValues.RepositoryPassword" name="repository_password" placeholder="myPassword">
              </div>
            </div>
          </div>
          <!-- environment-variables -->
          <div>
            <div class="col-sm-12 form-section-title">
                {{ 'Environment' | translate }}
            </div>
            <div class="form-group">
              <div class="col-sm-12" style="margin-top: 5px;">
                <label class="control-label text-left">{{ 'Environment_variables' | translate }}</label>
                <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addEnvironmentVariable()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'add_environment_variable' | translate }}
                </span>
              </div>
              <!-- environment-variable-input-list -->
              <div class="col-sm-12 form-inline" style="margin-top: 10px;">
                <div ng-repeat="variable in formValues.Env" style="margin-top: 2px;">
                  <div class="input-group col-sm-5 input-group-sm">
                    <span class="input-group-addon">{{ 'name' | translate }}name</span>
                    <input type="text" class="form-control" ng-model="variable.name" placeholder="e.g. FOO">
                  </div>
                  <div class="input-group col-sm-5 input-group-sm">
                    <span class="input-group-addon">{{ 'value' | translate }}</span>
                    <input type="text" class="form-control" ng-model="variable.value" placeholder="e.g. bar">
                  </div>
                  <button class="btn btn-sm btn-danger" type="button" ng-click="removeEnvironmentVariable($index)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <!-- !environment-variable-input-list -->
            </div>
          </div>
          <!-- !environment-variables -->
          <!-- !repository -->
          <por-access-control-form form-data="formValues.AccessControlData" ng-if="applicationState.application.authentication"></por-access-control-form>
          <!-- actions -->
          <div class="col-sm-12 form-section-title">
              {{ 'Actions' | translate }}
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="state.actionInProgress
              || (state.Method === 'upload' && !formValues.StackFile)
              || (state.Method === 'repository' && ((!formValues.RepositoryURL || !formValues.ComposeFilePathInRepository) || (formValues.RepositoryAuthentication && (!formValues.RepositoryUsername || !formValues.RepositoryPassword))))
              || !formValues.Name" ng-click="deployStack()" button-spinner="state.actionInProgress">
                <span ng-hide="state.actionInProgress">{{ 'Deploy_the_stack' | translate }}</span>
                <span ng-show="state.actionInProgress">{{ 'Deployment_in_progress' | translate }}Deployment in progress...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
