<rd-header>
  <rd-header-title title-text="{{ 'HOME' | translate }}">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.home" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>{{ 'ENDPOINTS' | translate }}</rd-header-content>
</rd-header>

<information-panel
  ng-if="motd && motd.Message !== '' && applicationState.UI.dismissedInfoHash !== motd.Hash"
  title-text="{{ 'Important_message' | translate }}"
  dismiss-action="dismissImportantInformation(motd.Hash)">
  <span class="text-muted">
    <p ng-bind-html="motd.Message"></p>
  </span>
</information-panel>

<information-panel
  ng-if="!applicationState.UI.dismissedInfoPanels['home-info-01']"
  title-text="{{ 'Information' | translate }}"
  dismiss-action="dismissInformationPanel('home-info-01')">
  <span class="small text-muted">
    <p ng-if="endpoints.length > 0">
      {{ 'Welcome_to_Portainer' | translate }}
    </p>
    <p ng-if="!isAdmin && endpoints.length === 0">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      {{ 'You_do_not_have_access_to_any_environment_Please_contact_your_administrator' | translate }}
      
    </p>

    <p ng-if="isAdmin && !applicationState.application.snapshot">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      {{ 'Endpoint_snapshot_is_disabled' | translate }}
      <!-- Endpoint snapshot is disabled. -->
    </p>
  </span>
</information-panel>

<div class="row" ng-if="endpoints.length > 0">
  <div class="col-sm-12">
    <endpoint-list
      title-text="{{ 'ENDPOINTS' | translate }}" title-icon="fa-plug"
      endpoints="endpoints"
      dashboard-action="goToDashboard"
      show-snapshot-action="!applicationState.application.authentication || isAdmin"
      snapshot-action="triggerSnapshot"
      edit-action="goToEdit"
      is-admin="isAdmin"
    ></endpoint-list>
  </div>
</div>
