<rd-header>
  <rd-header-title title-text="{{ 'ENDPOINTS' | translate }}">
    <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.endpoints" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>{{ 'Endpoint_management' | translate }}</rd-header-content>
</rd-header>

<div class="row" ng-if="!applicationState.application.endpointManagement">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-exclamation-triangle" title-text="{{ 'Endpoint_management_is_not_available' | translate }}">
      </rd-widget-header>
      <rd-widget-body>
        <span class="small text-muted">Portainer has been started using the <code>--external-endpoints</code> flag.
          <!-- Endpoint management via the UI is disabled. -->
          {{ 'Endpoint_management_via_the_UI_is_disabled' | translate }}
          <span ng-if="applicationState.application.authentication">{{ 'You_can_still_manage_endpoint_access' | translate }}</span>
        </span>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <endpoints-datatable
    title-text="{{ 'ENDPOINTS' | translate }}" title-icon="fa-plug"
    dataset="endpoints" table-key="endpoints"
    order-by="Name" 
    endpoint-management="applicationState.application.endpointManagement"
    access-management="applicationState.application.authentication"
    remove-action="removeAction"
    ></endpoints-datatable>
  </div>
</div>
