<div>
  <rd-widget>
    <rd-widget-header icon="fa-list-alt" title-text="Container spec"></rd-widget-header>
    <rd-widget-body classes="no-padding">
      <table class="table">
        <tbody>
          <tr>
            <td>CMD</td>
            <td><code ng-if="service.Command">{{ service.Command|command }}</code></td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                  {{ 'Command_to_execute' | translate }}
              </p>
            </td>
          </tr>
          <tr>
            <td>{{ 'Args' | translate }}</td>
            <td><code ng-if="service.Arguments">{{ service.Arguments }}</code></td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                <!-- Arguments passed to command in container. -->
                {{ 'Arguments_passed_to_command' | translate }}
              </p>
            </td>
          </tr>
          <tr>
            <td>{{ 'User' | translate }}</td>
            <td>{{ service.User }}</td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                  {{ 'Username_or_UID' | translate }}
              </p>
            </td>
          </tr>
          <tr>
            <td>{{ 'Working_directory' | translate }}</td>
            <td>{{ service.Dir }}</td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                <!-- Working directory inside the container. -->
                {{ 'Working_directory_inside_the_container' | translate }}
              </p>
            </td>
          </tr>
          <tr>
            <td>{{ 'Stop_grace_period' | translate }}</td>
            <td>{{ service.StopGracePeriod }}</td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                <!-- Time to wait before force killing a container (default none). -->
                {{ 'Time_wait_before_force_killing' | translate }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
  </rd-widget>
</div>
